name: ferric-event-api

services:
  server:
    build:
      context: .
      target: final
    env_file: .env.compose
    ports:
      - "8080:8080"
    depends_on:
      event-db:
        condition: service_healthy

  event-db:
    image: postgres:18
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: eventdb
    volumes:
      - db-data:/var/lib/postgresql
      - ./database/init/:/docker-entrypoint-initdb.d/:ro
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 5s
      timeout: 5s
      retries: 5
    
volumes:
  db-data: